
$font-One     	  : 'Open Sans', sans-serif;

$font-Two         : 'Poppins', sans-serif;


$theme-color      : #6cbe03;

$link-color       : #6cbe03;


$white            : #FFFFFF;
$black            : #000000;
$dark-gray        : #7F7F7F;
$light-gray       : #C0C0C0;
$green            : #5CB85C;
$light-blue       : #5BC0DE;
$red              : #D9534F;
$yellow           : #F0AD4E;
$blue             : #0000FF;







